.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: #2d3439;
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: #42484d;
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #00a6ff;
  border: none;
  color: #242a2e;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
