.message {
  padding: 2.5rem 5rem;
  background-color: #2d3439;
  min-height: calc(100vh);
}

.message section {
  width: clamp(80rem, 80%, 90rem);
  margin: 10rem auto;
  display: flex;
  justify-content: center;
  gap: 7rem;
  align-items: center;
}

.message h3 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}
